:root {
  --bg-primary: #111111;
  --bg-secondary: #181818;
  --bg-card: #181818;

  --accent: #B18CFF;
  --accent-hover: #c8acff;

  --text-primary: #ffffff;
  --text-secondary: #BCBCBC;
  --text-muted: #8d8d8d;

  --border-primary: #3a3a3a;

  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 6px;
  --radius-xl: 8px;

  --transition: .2s ease;

  --sidebar-width: 260px;

  --space-xs: 6px;
  --space-sm: 10px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
}